* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: rgb(204, 214, 209);
}

/* Header */

#Task {
  background-color: cadetblue;
  border: none;
  border-radius: 3px;
  height: 20px;
  text-align: center;
  font-size: 8px;
  padding: 0 8px;
  margin-right: 5px;
}

#Section {
  background-color: aliceblue;
  border-color: rgba(168, 173, 156, 0.6);
  color: rgba(168, 173, 156, 0.6);
  border: solid;
  border-radius: 3px;
  height: 20px;
  text-align: center;
  font-size: 8px;
  padding: 0 8px;
}

.buttons {
  margin-left: 30px;
  padding: 20px;
}

.logo {
  background-color: white;
}

.Text-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

.Logo {
  vertical-align: middle;
  width: 30px;
}

/* section  */

h5 {
  display: inline-block;
}

.bigcontainer {
  margin: 10% auto;
  background-color: white;
  width: 80%;
  height: 60%;
}

.bluecontainer {
  display: inline-block;
  color: aliceblue;
  background-color: deepskyblue;
  border: none;
  width: 50px;
  border-radius: 12px;
  padding: 6px;
}

.purplecontainer {
  color: aliceblue;
  background-color: rgb(120, 55, 129);
  display: inline-block;
  border: none;
  width: 60px;
  border-radius: 12px;
  padding: 6px;
}

.greencontainer {
  color: aliceblue;
  background-color: rgb(47, 157, 115);
  display: inline-block;
  border: none;
  width: 60px;
  border-radius: 12px;
  padding: 6px;
}

.green2container {
  color: aliceblue;
  background-color: rgb(121, 165, 67);
  display: inline-block;
  border: none;
  width: 40px;
  border-radius: 12px;
  padding: 6px;
}

.orangecontainer {
  color: aliceblue;
  background-color: rgb(228, 154, 8);
  display: inline-block;
  border: none;
  width: 50px;
  border-radius: 12px;
  padding: 6px;
}

.Confirmed {
  border: solid;
  border-color: greenyellow;
  border-radius: 50px;
  font-size: 10px;
}
