* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* Header */
.Text-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

.Logo {
  vertical-align: middle;
  width: 30px;
}
